<div class="wrapper ">

  <div class="main-panel">
    <!-- Navbar -->
    <nav class="mb-3 ">
      <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link navbar-brand"  data-toggle="tab" routerLink="main" role="tab" aria-controls="home" aria-selected="true">Main</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link navbar-brand"  data-toggle="tab" routerLink="authors" role="tab" aria-controls="profile" aria-selected="false">Authors</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link navbar-brand"  data-toggle="tab" routerLink="books" role="tab" aria-controls="contact" aria-selected="false">Books</a>
        </li>
<!--        <li class="nav-item" role="presentation">-->
<!--          <a class="nav-link navbar-brand"  data-toggle="tab" routerLink="reviews" role="tab" aria-controls="contact" aria-selected="false">Reviews</a>-->
<!--        </li>-->
      </ul>
    </nav>
    <!-- End Navbar -->
    <div class="content">
      <div class="container-fluid">
        <div class="col-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <footer class="footer">
    </footer>
  </div>
</div>
