<div class="wrapper ">

  <div class="main-panel">
    <!-- Navbar -->
    <nav class="mb-3 ">
      <div class="navbar navbar-expand navbar-light justify-content-center">
        <a class="navbar-brand" routerLink="main">Main</a>
        <a class="navbar-brand" routerLink="authors">Authors</a>
        <a class="navbar-brand" routerLink="books">Books</a>
        <a class="navbar-brand" routerLink="reviews">Reviews</a>
        <button aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler" data-toggle="collapse" type="button">
        </button>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="content">
      <div class="container-fluid">
        <div class="col-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <footer class="footer">
    </footer>
  </div>
</div>
