<div class="wrapper ">
  <div class="main-panel">
    <div class="content">
      <div class="container-fluid" id="main-container">
        <div class="row">
          <div class="col">
            <div class="d-flex justify-content-end align-items-end">
              <mat-paginator #matPaginator [length]="totalRecords" [pageSize]="5" [pageSizeOptions]="[5,10,20]"
                             (page)="onPageChange($event)" aria-label="Select page">
              </mat-paginator>
            </div>
          </div>
        </div>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Filter by:
            </mat-panel-title>
            <mat-panel-description>
              Parameters for filtering
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <form #filterForm="ngForm" (ngSubmit)="filterReviews()">
              <label>Commenter name: </label>
              <mat-form-field appearance="fill">
                <input matInput ngModel name="commenterName" type="text" maxlength="64">
              </mat-form-field>

              <label>Book name : </label>
              <mat-form-field appearance="fill">
                <input matInput ngModel name="bookName" type="text" maxlength="64">
              </mat-form-field>

              <label>Rating from: </label>
              <mat-form-field appearance="fill">
                <input matInput ngModel name="fromRating" type="number" min="0" max="5">
              </mat-form-field>

              <label>Rating to: </label>
              <mat-form-field appearance="fill">
                <input matInput ngModel name="toRating" type="number" min="0" max="5">
              </mat-form-field>

              <button [disabled]="filterForm.invalid" type="submit" class="btn btn-success">Filter</button>
              <button type="button" (click)="resetForm(filterForm)" class="btn btn-primary">Reset</button>
            </form>
          </div>

        </mat-expansion-panel>
        <div class="row justify-content-center">
          <div *ngFor="let review of reviews" class="col-md-five" >
            <div class="card m-b-30">
              <div class="card-body row">
                <div class="col-12 card-title align-self-center mb-0">
                  <h2>{{review.book.name}}</h2>
                </div>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Commenter name : {{review.commenterName}}</li>
                <li class="list-group-item">Rating : {{review.rating}}</li>
                <li class="list-group-item">Comment : {{review.comment}}</li>
              </ul>
              <div class="card-body">
                <div class="float-right btn-group btn-group-sm">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
    </footer>
  </div>
</div>
