.star-rating {
  width: 160px;
  height: 32px;
  background-size: 32px;
}

h2{
  color: black;
}
.star-rating .star-value {
  background-size: 32px;
}
.rating-line {
  display: inline-flex;
  align-items: center;
}

.rating-list li {
  float: right;
  color: #ddd;
  padding: 10px 5px;

}

.rating-list li:hover,
.rating-list li:hover ~ li, .rating-list li.selected {
  color: #ffd700;
}

.rating-list {
  display: inline-block;
  list-style: none;
}

ul {
  margin-bottom: 0;
}
.book-info-label {
  font-size: 1.5rem;
  color: #2d4483;
  word-break: break-all;
}
