.star-rating {
  width: 160px;
  height: 32px;
  background-size: 32px;
}

h2{
  color: black;
}
.star-rating .star-value {
  background-size: 32px;
}
.rating-line {
  display: inline-flex;
  align-items: center;
}

.rating-list li {
  float: right;
  color: #ddd;
  padding: 10px 5px;

}

.rating-list li:hover,
.rating-list li:hover ~ li, .rating-list li.selected {
  color: #ffd700;
}

.rating-list {
  display: inline-block;
  list-style: none;
}

ul {
  margin-bottom: 0;
}
.book-info-label {
  font-size: 1.5rem;
  color: #2d4483;
  word-break: break-all;
}

.star-rating-book {
  position: relative;
  display:inline-block;
  background-image: url('src/assets/svg/star_0-book.svg');
  background-position: 0 0;
  background-repeat: repeat-x;
  cursor: pointer;
  width: 80px;
  height: 16px;
  background-size: 16px;
}

.star-rating-book .star-value-book {
  position: absolute;
  height: 100%;
  background: url('src/assets/svg/star_1-book.svg') repeat-x;
  background-size: 16px;
}

.review-cards{
  padding: 0;
  margin: 5px 5px;
}

a[aria-expanded=true] #three-dots {
  display: none;
}
a[aria-expanded=false] #arrows-up {
  display: none;
}

.review-comment {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dataTable-selector {
  font-size: 1rem;
  height: 31px;
  padding-top: 2px;
}


