.star-rating {
  width: 160px;
  height: 32px;
  background-size: 32px;
}

h2 {
  color: black;
}

.star-rating .star-value {
  background-size: 32px;
}

.rating-line {
  display: inline-flex;
  align-items: center;
}

.rating-list li {
  float: right;
  color: #ddd;
  padding: 10px 5px;

}

.rating-list li:hover,
.rating-list li:hover ~ li, .rating-list li.selected {
  color: #ffd700;
}

.rating-list {
  display: inline-block;
  list-style: none;
}

ul {
  margin-bottom: 0;
}

.book-info-label {
  font-size: 1.5rem;
  color: #2d4483;
  word-break: break-all;
}

.star-rating-book {
  position: relative;
  display: inline-block;
  background-image: url('src/assets/svg/star_0-book.svg');
  background-position: 0 0;
  background-repeat: repeat-x;
  cursor: pointer;
  width: 80px;
  height: 16px;
  background-size: 16px;
}

.star-rating-book .star-value-book {
  position: absolute;
  height: 100%;
  background: url('src/assets/svg/star_1-book.svg') repeat-x;
  background-size: 16px;
}

.review-cards {
  width: 19.8%;
  max-width: 20%;
  min-width: 19.8%;
  padding: 0;
  margin: 0.1% 0.1%;
}

.truncate {
  max-width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate.truncated {
  white-space: pre-line;
  width: 95%;
}

.truncate.truncated .help-icon-down {
  display: none;
}

.truncate.truncated .help-icon-up {
  display: inline-block;
}

.truncate .help-icon-up {
  display: none;
}

.help-icon-down {
  right: 0;
  padding-right: 10px;
  position: absolute;
}

.help-icon-up {
  right: 0;
  padding-right: 10px;
  position: absolute;
}

.dataTable-selector {
  font-size: 1rem;
  height: 31px;
  padding-top: 2px;
}

.dataTable-pagination a {
  border: 1px solid transparent;
  float: left;
  margin: 0px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
  color: #333;
}

.dataTable-pagination a:hover {
  background-color: #d9d9d9;
}

.dataTable-pagination .active a,
.dataTable-pagination .active a:focus,
.dataTable-pagination .active a:hover {
  background-color: #d9d9d9;
  cursor: default;
}

.dataTable-pagination .ellipsis a,
.dataTable-pagination .disabled a,
.dataTable-pagination .disabled a:focus,
.dataTable-pagination .disabled a:hover {
  cursor: not-allowed;
}

.dataTable-pagination .disabled a,
.dataTable-pagination .disabled a:focus,
.dataTable-pagination .disabled a:hover {
  cursor: not-allowed;
  opacity: 0.4;
}

.dataTable-pagination .pager a {
  font-weight: bold;
}

.card-footer {
  padding: 1rem;
}

.dataTable-bottom {
  padding: 0 0;
}
