<div class="wrapper ">
  <div class="main-panel">
    <div class="content">
      <div class="container-fluid" id="main-container">
        <div class="row">
          <div class="col-6">
            <button class="btn btn-primary" (click)="onOpenModal('add',$any(null))">CREATE</button>
            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteBookModal">DELETE</button>
          </div>
          <div class="col-6">
            <div class="d-flex justify-content-end align-items-end">
              <div>
                <mat-paginator #matPaginator [length]="totalRecords" [pageSize]="5" [pageSizeOptions]="[5,10,20]"
                               (page)="onPageChange($event)" aria-label="Select page">
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>
        <div>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Filter by:
              </mat-panel-title>
              <mat-panel-description>
                Parameters for filtering
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
              <form #filterForm="ngForm" (ngSubmit)="filterBooks()">
                <label>Name: </label>
                <mat-form-field appearance="fill">
                  <input matInput ngModel name="name">
                </mat-form-field>

                <label>publisher: </label>
                <mat-form-field appearance="fill">
                  <input matInput ngModel name="publisher">
                </mat-form-field>

                <label>year: </label>
                <mat-form-field appearance="fill">
                  <input matInput ngModel name="yearPublisher">
                </mat-form-field>

                <label>isbn: </label>
                <mat-form-field appearance="fill">
                  <input matInput ngModel name="isbn">
                </mat-form-field>

                <label>rating from: </label>
                <mat-form-field appearance="fill">
                  <input matInput ngModel name="fromRating">
                </mat-form-field>

                <label>rating to: </label>
                <mat-form-field appearance="fill">
                  <input matInput ngModel name="toRating">
                </mat-form-field>

                <label>author: </label>
                <mat-form-field appearance="fill">
                  <input matInput ngModel name="authorNameAndSecondName">
                </mat-form-field>

                <button [disabled]="filterForm.invalid" type="submit" class="btn btn-success">Filter</button>
                <button type="button" (click)="resetForm(filterForm)" class="btn btn-primary">Reset</button>
              </form>
            </div>

          </mat-expansion-panel>
        </div>
        <div class="col-12">
          <div class="card">
            <div class="card-header card-header-warning">
              <h1 class="card-title">Books</h1>
            </div>
            <div class="card-body table-responsive">
              <table class="table table-hover" aria-describedby="availableBooks">
                <thead class="text-warning">
                <th id="checkBox">
                  <input class="form-check-inline" type="checkbox" value="" id="checkAll">Mark all
                </th>
                <th (click)="sortByColumn('name')" id="tableName">Name
                  <em *ngIf="pageSortFilterParameters.sortField === 'name' && !pageSortFilterParameters.reverseForSorting"
                      class="fa fa-sort-asc"></em>
                  <em *ngIf="pageSortFilterParameters.sortField  != 'name'" class="fa fa-sort"></em>
                  <em *ngIf="pageSortFilterParameters.sortField  === 'name' && pageSortFilterParameters.reverseForSorting"
                      class="fa fa-sort-desc"></em>
                </th>
                <th (click)="sortByColumn('publisher')" id="tablePublisher">Publisher
                  <em *ngIf="pageSortFilterParameters.sortField  === 'publisher' && !pageSortFilterParameters.reverseForSorting"
                      class="fa fa-sort-asc"></em>
                  <em *ngIf="pageSortFilterParameters.sortField  != 'publisher'" class="fa fa-sort"></em>
                  <em *ngIf="pageSortFilterParameters.sortField  === 'publisher' && pageSortFilterParameters.reverseForSorting"
                      class="fa fa-sort-desc"></em></th>
                <th (click)="sortByColumn('yearPublisher')" id="tableYearOfPublisher">Year of publisher
                  <em *ngIf="pageSortFilterParameters.sortField  === 'yearPublisher' && pageSortFilterParameters.reverseForSorting"
                      class="fa fa-sort-asc"></em>
                  <em *ngIf="pageSortFilterParameters.sortField  != 'yearPublisher'" class="fa fa-sort"></em>
                  <em *ngIf="pageSortFilterParameters.sortField  === 'yearPublisher' && !pageSortFilterParameters.reverseForSorting"
                      class="fa fa-sort-desc"></em></th>
                <th (click)="sortByColumn('isbn')" id="tableIsbn">ISBN
                  <em *ngIf="pageSortFilterParameters.sortField  === 'isbn' && pageSortFilterParameters.reverseForSorting"
                      class="fa fa-sort-asc"></em>
                  <em *ngIf="pageSortFilterParameters.sortField  != 'isbn'" class="fa fa-sort"></em>
                  <em *ngIf="pageSortFilterParameters.sortField  === 'isbn' && !pageSortFilterParameters.reverseForSorting"
                      class="fa fa-sort-desc"></em>
                </th>
                <th (click)="sortByColumn('rating')" id="tableRating">Rating
                  <em *ngIf="pageSortFilterParameters.sortField  === 'rating' && pageSortFilterParameters.reverseForSorting"
                      class="fa fa-sort-asc"></em>
                  <em *ngIf="pageSortFilterParameters.sortField  != 'rating'" class="fa fa-sort"></em>
                  <em *ngIf="pageSortFilterParameters.sortField  === 'rating' && !pageSortFilterParameters.reverseForSorting"
                      class="fa fa-sort-desc"></em></th>
                <th id="tableAuthors">Authors</th>
                </thead>
                <tbody>
                <tr *ngFor="let book of books">
                  <td>
                    <div class="form-check">
                      <input class="form-check-inline" type="checkbox" value="" id="flexCheckDefault">
                    </div>
                  </td>
                  <td>{{book.name}}</td>
                  <td>{{book.publisher}}</td>
                  <td>{{book.yearPublisher}}</td>
                  <td>{{book.isbn}}</td>
                  <td>{{book.rating}}</td>
                  <td>
                    <div
                      *ngFor="let author of book.authors">
                      {{author.firstName}}
                      {{author.secondName}},
                    </div>
                  </td>
                  <td>
                    <div class="btn-group" role="group">
                      <a (click)="onOpenModal('edit',book)" class="btn btn-success btn-sm rounded-top"
                         data-placement="top" title="Edit"><em class="fa fa-edit"></em></a>
                      <a (click)="onOpenModal('detail',book)" class="btn btn-info btn-sm rounded-bottom"
                         data-placement="top" title="Detail"><em class="fa fa-info"></em></a>
                      <a (click)="onOpenModal('delete',book)" class="btn btn-danger btn-sm rounded-bottom"
                         data-placement="top" title="Delete"><em class="fa fa-trash"></em></a>
                      <a (click)="onOpenModal('createReview',book)" class="btn btn-primary btn-sm rounded-bottom"
                         data-placement="top" title="Delete"><span class="material-icons">rate_review</span></a>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
    </footer>
  </div>
</div>

<div class="modal fade" id="createBookModal" tabindex="-1" role="dialog" aria-labelledby="createBookModal"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <H2 class="modal-title">Create Book</H2>
        <button class="close" data-dismiss="modal">X</button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="createBook(addForm)">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ngModel name="name" class="form-control" id="name" placeholder="name" required>
          </div>
          <div class="form-group">
            <label for="yearOfPublisher">Year of publisher</label>
            <input type="text" ngModel name="yearOfPublisher" class="form-control" id="yearOfPublisher"
                   placeholder="year of publisher">
          </div>
          <div class="form-group">
            <label for="publisher">Publisher</label>
            <input type="text" ngModel name="publisher" class="form-control" id="publisher" placeholder="publisher"
                   required>
          </div>
          <div class="form-group">
            <label for="isbn">Publisher</label>
            <input type="text" ngModel name="isbn" class="form-control" id="isbn" placeholder="isbn" required>
          </div>
          <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Authors</mat-label>
              <mat-select multiple ngModel name="authors">
                <mat-option *ngFor="let author of authors" [value]="author">
                  {{author.firstName}}
                  {{author.secondName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="modal-footer">
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-success">Create</button>
            <button type="button" id="add-book-form" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateBookModal" tabindex="-1" role="dialog" aria-labelledby="updateBookModal"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <H2 class="modal-title"> Edit {{editBook?.name}}</H2>
        <button class="close" data-dismiss="modal">X</button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="bookName">Name</label>
            <input type="text" ngModel="{{editBook?.name}}" name="name" class="form-control" id="bookName"
                   placeholder="name">
          </div>
          <input type="hidden" ngModel="{{editBook?.id}}" name="id" class="form-control" id="id">
          <div class="form-group">
            <label for="yearOfPublisher">Year of publisher</label>
            <input type="text" ngModel="{{editBook?.yearPublisher}}" name="yearPublisher" class="form-control"
                   id="bookYearPublisher"
                   placeholder="year of publisher">
          </div>
          <div class="form-group">
            <label for="publisher">Publisher</label>
            <input type="text" ngModel="{{editBook?.publisher}}" name="publisher" class="form-control"
                   id="bookPublisher" placeholder="publisher">
          </div>
          <div class="form-group">
            <label for="isbn">ISBN</label>
            <input type="text" ngModel="{{editBook?.isbn}}" name="isbn" class="form-control" id="bookIsbn"
                   placeholder="isbn">
          </div>
          <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Authors</mat-label>
              <mat-select multiple ngModel name="authors">
                <mat-option *ngFor="let author of authors" [value]="author">
                  {{author.firstName}}
                  {{author.secondName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="modal-footer">
            <button (click)="updateBook(editForm.value)" class="btn btn-success" data-dismiss="modal">Save changes
            </button>
            <button class="btn btn" data-dismiss="modal">Close</button>
            <button (click)="deleteBook(editBook.id)" class="btn btn-danger" data-dismiss="modal">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteBookModal" tabindex="-1" role="dialog" aria-labelledby="deleteBookModal"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <H2 class="modal-title">Delete {{deletedBook?.name}}</H2>
        <button class="close" data-dismiss="modal">X</button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete {{deletedBook?.name}}</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)="deleteBook(deletedBook.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="detailBookModal" tabindex="-1" role="dialog" aria-labelledby="detailBookModal"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <H2 class="modal-title">{{detailBook?.name}}</H2>
        <button class="close" data-dismiss="modal">X</button>
      </div>
      <div class="modal-body">
        <div>Name: {{detailBook?.name}}</div>
        <div>ISBN: {{detailBook?.isbn}}</div>
        <div>Publisher: {{detailBook?.publisher}}</div>
        <div>Year of publisher: {{detailBook?.yearPublisher}}</div>
        <div>Rating: {{detailBook?.rating}}</div>
        <div>Authors:<a *ngFor="let author of detailBook?.authors">
          {{author.firstName}}
          {{author.secondName}},
        </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="createReviewModal" tabindex="-1" role="dialog" aria-labelledby="createReviewModal"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <H2 class="modal-title">Create Review</H2>
        <button class="close" data-dismiss="modal">X</button>
      </div>
      <div class="modal-body">
        <form #reviewForm="ngForm" (ngSubmit)="createReview(reviewForm)">
          <div class="form-group">
            <label for="commenterName">Commenter name</label>
            <input type="text" ngModel name="commenterName" class="form-control" id="commenterName" placeholder="name" required>
          </div>
          <div class="form-group">
            <label for="comment">Comment</label>
            <input type="text" ngModel name="comment" class="form-control" id="comment" placeholder="comment" required>
          </div>
          <div class="form-group">
            <label for="rating">Rating</label>
            <input type="text" ngModel name="rating" class="form-control" id="rating" placeholder="rating" required>
          </div>
          <div class="form-group">
            <input type="text" [ngModel]="detailBook" name="book" class="form-control" value="{{detailBook}}">
          </div>
          <div class="modal-footer">
            <button [disabled]="reviewForm.invalid" type="submit" class="btn btn-success">Create</button>
            <button type="button" id="add-review-form" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

