<div class="wrapper ">
  <div class="main-panel">
    <div class="content">
      <div class="container-fluid" id="main-container">
        <div class="row">
          <div class="col-6">
            <button class="btn btn-primary" (click)="onOpenModal('add',$any(null))">CREATE</button>
            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteBookModal">DELETE</button>
          </div>
          <div class="col-6">
            <div class="d-flex justify-content-end align-items-end">
              <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" id="dropDownPagination"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="Books on page">Books on
                  page
                </button>
                <div class="dropdown-menu" aria-labelledby="dropDownPagination">
                  <a class="dropdown-item" href="#">5</a>
                  <a class="dropdown-item" href="#">10</a>
                  <a class="dropdown-item" href="#">20</a>
                </div>
              </div>
              <div>
                <button class="btn btn-info" data-toggle="modal" data-target="#searchBook">SEARCH</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card">
            <div class="card-header card-header-warning">
              <h4 class="card-title">Books</h4>
              <p id="availableBooks">Available books</p>
            </div>
            <div class="card-body table-responsive">
              <table class="table table-hover table-striped" aria-describedby="availableBooks">
                <thead class="text-warning">
                <th id="checkBox">
                  <input class="form-check-inline" type="checkbox" value="" id="checkAll">Mark all
                </th>
                <th id="tableId">ID</th>
                <th id="tableName">Name</th>
                <th id="tablePublisher">Publisher</th>
                <th id="tableYearOfPublisher">Year of publisher</th>
                <th id="tableIsbn">ISBN</th>
                <th id="tableRating">rating</th>
                <th id="tableAuthors">Authors</th>
                </thead>
                <tbody>
                <tr *ngFor="let book of books">
                  <td>
                    <div class="form-check">
                      <input class="form-check-inline" type="checkbox" value="" id="flexCheckDefault">
                    </div>
                  </td>
                  <td>{{book.id}}</td>
                  <td>{{book.name}}</td>
                  <td>{{book.publisher}}</td>
                  <td>{{book.yearPublisher}}</td>
                  <td>{{book.isbn}}</td>
                  <td>{{book.rating}}</td>
                  <td>
                    <div
                      *ngFor="let author of book.authors">
                      {{author.firstName}}
                      {{author.secondName}},
                    </div>
                  </td>
                  <td>
                    <div class="btn-group" role="group">
                      <a (click)="onOpenModal('edit',book)" class="btn btn-success btn-sm rounded-top"
                         data-placement="top" title="Edit"><em class="fa fa-edit"></em></a>
                      <a (click)="onOpenModal('delete',book)" class="btn btn-danger btn-sm rounded-bottom"
                         data-placement="top" title="Delete"><em class="fa fa-trash"></em></a>
                      <a (click)="onOpenModal('detail',book)" class="btn btn-info btn-sm rounded-bottom"
                         data-placement="top" title="Detail"><em class="fa fa-info"></em></a>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
    </footer>
  </div>
</div>

<div class="modal fade" id="createBookModal" tabindex="-1" role="dialog" aria-labelledby="createBookModal"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <H4 class="modal-title">Create Book</H4>
        <button class="close" data-dismiss="modal">X</button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="createBook(addForm)">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ngModel name="name" class="form-control" id="name" placeholder="name" required>
          </div>
          <div class="form-group">
            <label for="yearOfPublisher">Year of publisher</label>
            <input type="text" ngModel name="yearOfPublisher" class="form-control" id="yearOfPublisher"
                   placeholder="year of publisher">
          </div>
          <div class="form-group">
            <label for="publisher">Publisher</label>
            <input type="text" ngModel name="publisher" class="form-control" id="publisher" placeholder="publisher"
                   required>
          </div>
          <div class="form-group">
            <label for="isbn">Publisher</label>
            <input type="text" ngModel name="isbn" class="form-control" id="isbn" placeholder="isbn" required>
          </div>
<!--          <div>-->
<!--            <mat-form-field appearance="fill">-->
<!--              <mat-label>Authors</mat-label>-->
<!--              <mat-select [formControl]="toppings" multiple>-->
<!--                <mat-select-trigger>-->
<!--                  {{authors.values() ? toppings.value[0] : ''}}-->
<!--                  <span *ngIf="authors.values()> 1" class="example-additional-selection">-->
<!--                    (+{{}}-->
<!--                  </span>-->
<!--                </mat-select-trigger>-->
<!--              </mat-select>-->
<!--            </mat-form-field>-->
<!--          </div>-->
          <div class="form-group">
            <label>Authors</label>
            <select multiple class="form-control" ngModel name="authors">
              <option *ngFor="let author of authors" [ngValue]="author">
                {{author.firstName}}
                {{author.secondName}}
              </option>
            </select>
          </div>
          <div class="modal-footer">
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-success">Create</button>
            <button type="button" id="add-book-form" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateBookModal" tabindex="-1" role="dialog" aria-labelledby="updateBookModal"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <H4 class="modal-title">Update Book {{editBook?.name}}</H4>
        <button class="close" data-dismiss="modal">X</button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="bookName">Name</label>
            <input type="text" ngModel="{{editBook?.name}}" name="name" class="form-control" id="bookName"
                   placeholder="name">
          </div>
          <input type="hidden" ngModel="{{editBook?.id}}" name="id" class="form-control" id="id">
          <div class="form-group">
            <label for="yearOfPublisher">Year of publisher</label>
            <input type="text" ngModel="{{editBook?.yearPublisher}}" name="yearPublisher" class="form-control"
                   id="bookYearPublisher"
                   placeholder="year of publisher">
          </div>
          <div class="form-group">
            <label for="publisher">Publisher</label>
            <input type="text" ngModel="{{editBook?.publisher}}" name="publisher" class="form-control"
                   id="bookPublisher" placeholder="publisher">
          </div>
          <div class="form-group">
            <label for="isbn">ISBN</label>
            <input type="text" ngModel="{{editBook?.isbn}}" name="isbn" class="form-control" id="bookIsbn"
                   placeholder="isbn">
          </div>
          <div class="form-group">
            <label>Authors</label>
            <select multiple class="form-control" ngModel="{{editBook?.authors}}" name="authors">
              <option *ngFor="let author of authors" [ngValue]="author">
                {{author.firstName}}
                {{author.secondName}}
              </option>
            </select>
          </div>

          <div class="modal-footer">
            <button (click)="updateBook(editForm.value)" class="btn btn-success" data-dismiss="modal">Save changes
            </button>
            <button class="btn btn" data-dismiss="modal">Close</button>
            <button (click)="deleteBook(editBook.id)" class="btn btn-danger" data-dismiss="modal">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteBookModal" tabindex="-1" role="dialog" aria-labelledby="deleteBookModal"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <H4 class="modal-title">Delete Book</H4>
        <button class="close" data-dismiss="modal">X</button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete book {{deletedBook?.name}}</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)="deleteBook(deletedBook.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="searchBook" tabindex="-1" role="dialog" aria-labelledby="searchBook"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <H4 class="modal-title">Search By</H4>
        <button class="close" data-dismiss="modal">X</button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="searchByName">By name</label>
          <input type="text" name="name"
                 class="form-control" id="searchByName" placeholder="name" required>
        </div>
        <div class="form-group">
          <label for="searchByPublisher">By publisher</label>
          <input type="text" name="name"
                 class="form-control" id="searchByPublisher" placeholder="publisher" required>
        </div>
        <div class="form-group">
          <label for="searchByIsbn">By isbn</label>
          <input type="text" name="name"
                 class="form-control" id="searchByIsbn" placeholder="isbn" required>
        </div>
        <div class="form-group">
          <label for="searchByAuthors">By authors</label>
          <input type="text" name="name"
                 class="form-control" id="searchByAuthors" placeholder="authors" required>
        </div>
        <div class="form-group">
          <label for="searchByRating">By rating</label>
          <input type="text" name="name"
                 class="form-control" id="searchByRating" placeholder="rating" required>
        </div>
        <div class="form-group">
          <label for="searchByYear">By year</label>
          <input type="text" name="name"
                 class="form-control" id="searchByYear" placeholder="year" required>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" data-dismiss="modal">Search</button>
          <button class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="detailBookModal" tabindex="-1" role="dialog" aria-labelledby="detailBookModal"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <H4 class="modal-title">{{detailBook?.name}}</H4>
        <button class="close" data-dismiss="modal">X</button>
      </div>
      <div class="modal-body">
        <div>Name: {{detailBook?.name}}</div>
        <div>ISBN: {{detailBook?.isbn}}</div>
        <div>Publisher: {{detailBook?.publisher}}</div>
        <div>Year of publisher: {{detailBook?.yearPublisher}}</div>
        <div>Rating: {{detailBook?.rating}}</div>
        <div>Authors:<a *ngFor="let author of detailBook?.authors">
          {{author.firstName}}
          {{author.secondName}},
        </a>
        </div>
      </div>
    </div>
  </div>
</div>

