<body>
<div class="row justify-content-center">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr class="active">
        <th>Rating</th>
        <th>Stars</th>
        <th>Total count</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1 stars</td>
        <td>
          <span class="material-icons">star</span>
          <span class="material-icons">star_outline</span>
          <span class="material-icons">star_outline</span>
          <span class="material-icons">star_outline</span>
          <span class="material-icons">star_outline</span>
        </td>
        <td>[count books by this rating]</td>
      </tr>
      <tr>
        <td>2 stars</td>
        <td><span class="material-icons">star</span>
          <span class="material-icons">star</span>
          <span class="material-icons">star_outline</span>
          <span class="material-icons">star_outline</span>
          <span class="material-icons">star_outline</span>
        </td>
        <td>[count books by this rating]</td>
      </tr>
      <tr>
        <td>3 stars</td>
        <td><span class="material-icons">star</span>
          <span class="material-icons">star</span>
          <span class="material-icons">star</span>
          <span class="material-icons">star_outline</span>
          <span class="material-icons">star_outline</span>
        </td>
        <td>[count books by this rating]</td>
      </tr>
      <tr>
        <td>4 stars</td>
        <td><span class="material-icons">star</span>
          <span class="material-icons">star</span>
          <span class="material-icons">star</span>
          <span class="material-icons">star</span>
          <span class="material-icons">star_outline</span>
        </td>
        <td>[count books by this rating]</td>
      </tr>
      <tr>
        <td>5 stars</td>
        <td><span class="material-icons">star</span>
          <span class="material-icons">star</span>
          <span class="material-icons">star</span>
          <span class="material-icons">star</span>
          <span class="material-icons">star</span>
        </td>
        <td>[count books by this rating]</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
