<div class="wrapper ">
  <div class="main-panel">
    <div class="content">
      <div class="container-fluid" id="main-container">
        <div class="row">
          <div class="col-6">
            <button class="btn btn-primary" (click)="onOpenModal('add',$any(null))">CREATE</button>
            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteAuthorModal">DELETE</button>
          </div>
          <div class="col-6">
            <div class="d-flex justify-content-end align-items-end">
              <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" id="dropDownPagination"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                  Authors on page
                </button>
                <div class="dropdown-menu" aria-labelledby="dropDownPagination">
                  <a class="dropdown-item" href="">5</a>
                  <a class="dropdown-item" href="">10</a>
                  <a class="dropdown-item" href="">20</a>
                </div>
              </div>
              <div>
                <button class="btn btn-info" data-toggle="modal" data-target="#searchAuthorModal">SEARCH</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card">
            <div class="card-header card-header-warning">
              <h4 class="card-title">Authors</h4>
              <p id="availableAuthors">Available authors</p>
            </div>
            <div class="card-body table-responsive">
              <table class="table table-hover" aria-describedby="availableAuthors">
                <thead class="text-warning">
                <th id="checkBox">
                  <input class="form-check-inline" type="checkbox" value="" id="checkAll">Mark all
                </th>
                <th id="tableId">ID</th>
                <th id="tableName">Name</th>
                <th id="tableSecondName">Second Name</th>
                </thead>
                <tbody>
                <tr *ngFor="let author of authors">
                  <td>
                    <div class="form-check">
                      <input class="form-check-inline" type="checkbox" value="" id="flexCheckDefault">
                    </div>
                  </td>
                  <td>{{author.id}}</td>
                  <td>{{author.firstName}}</td>
                  <td>{{author.secondName}}</td>
                  <td>
                    <div class="btn-group" role="group">
                      <a (click)="onOpenModal('edit', author)" class="btn btn-success btn-sm rounded-top"
                         data-placement="top" title="Edit"><em class="fa fa-info"></em></a>
                      <a (click)="onOpenModal('delete', author)" class="btn btn-danger btn-sm rounded-bottom"
                         data-placement="top" title="Delete"><em class="fa fa-trash"></em></a>
                      <a (click)="onOpenModal('detail',author)" class="btn btn-info btn-sm rounded-top"
                         data-placement="top" title="Detail"><em class="fa fa-info"></em></a>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
    </footer>
  </div>
</div>

<div class="modal fade" id="createAuthorModal" tabindex="-1" role="dialog" aria-labelledby="createAuthorModal"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <H4 class="modal-title">Create Author</H4>
        <button class="close" data-dismiss="modal">X</button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="createAuthor(addForm)">
          <div class="form-group">
            <label for="authorName">Name</label>
            <input type="text" ngModel name="firstName"
                   class="form-control" id="authorName" placeholder="name" required>
          </div>
          <div class="form-group">
            <label for="authorSecondName">Second name</label>
            <input type="text" ngModel name="secondName"
                   class="form-control" id="authorSecondName" placeholder="second name" required>
          </div>
          <div class="modal-footer">
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-success">Create</button>
            <button type="button" id="add-author-form" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateAuthorModal" tabindex="-1" role="dialog" aria-labelledby="updateAuthorModal"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <H4 class="modal-title">Update Author{{editAuthor?.firstName}}</H4>
        <button class="close" data-dismiss="modal">X</button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="updateAuthorName">Name</label>
            <input type="text" ngModel="{{editAuthor?.firstName}}" name="firstName" class="form-control"
                   id="updateAuthorName" placeholder="name" required>
          </div>
          <input type="hidden" ngModel="{{editAuthor?.id}}" name="id" class="form-control" id="id" placeholder="Email">
          <div class="form-group">
            <label for="updateAuthorSecondName">Second name</label>
            <input type="text" ngModel="{{editAuthor?.secondName}}" name="secondName" class="form-control"
                   id="updateAuthorSecondName" placeholder="second name" required>
          </div>
          <div class="modal-footer">
            <button (click)="updateAuthor(editForm.value)" class="btn btn-success" data-dismiss="modal">Save changes
            </button>
            <button class="btn btn-danger" data-dismiss="modal">Close</button>
            <button (click)="deleteAuthor(editAuthor.id)" class="btn btn-danger" data-dismiss="modal">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteAuthorModal" tabindex="-1" role="dialog" aria-labelledby="deleteAuthorModal"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <H4 class="modal-title">Delete Author</H4>
        <button class="close" data-dismiss="modal">X</button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete author {{deletedAuthor?.firstName}}?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)="deleteAuthor(deletedAuthor.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="searchAuthorModal" tabindex="-1" role="dialog" aria-labelledby="searchAuthorModal"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <H4 class="modal-title">Search By</H4>
        <button class="close" data-dismiss="modal">X</button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="searchByName">By name</label>
          <input type="text" name="name"
                 class="form-control" id="searchByName" placeholder="name" required>
        </div>
        <div class="form-group">
          <label for="searchBySecondName">By second name</label>
          <input type="text" name="name"
                 class="form-control" id="searchBySecondName" placeholder="second name" required>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" data-dismiss="modal">Search</button>
          <button class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="detailAuthorModal" tabindex="-1" role="dialog" aria-labelledby="detailAuthorModal"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <H4 class="modal-title">{{deletedAuthor?.firstName}}</H4>
        <button class="close" data-dismiss="modal">X</button>
      </div>
      <div class="modal-body">
        <div>Name: {{detailAuthor?.firstName}}</div>
        <div>Second name: {{detailAuthor?.secondName}}</div>
        <div>Books: <a *ngFor="let book of detailAuthor?.books">
          {{book.name}}
        </a>
        </div>
      </div>
    </div>
  </div>
</div>
