<div class="wrapper ">
  <div class="main-panel">
    <div class="content">
      <div class="container-fluid" id="main-container">
        <div class="row">
          <div class="col-4">
            <button class="btn btn-primary" (click)="onOpenModal('add',$any(null))">CREATE</button>
            <!--            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteAuthorModal">DELETE</button>-->
          </div>
          <div class="col-8">
            <div class="d-flex justify-content-end align-items-end">
              <mat-paginator #matPaginator [length]="totalRecords" [pageSize]="5" [pageSizeOptions]="[5,10,20]"
                             (page)="onPageChange($event)" aria-label="Select page">
              </mat-paginator>
            </div>
          </div>
        </div>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Filter by:
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <form #filterForm="ngForm" (ngSubmit)="filterAuthors()">
              <label>First name: </label>
              <mat-form-field appearance="fill">
                <input matInput ngModel name="firstName" maxlength="128">
              </mat-form-field>

              <label>Second name: </label>
              <mat-form-field appearance="fill">
                <input matInput ngModel name="secondName" maxlength="128">
              </mat-form-field>

              <label>Rating from: </label>
              <mat-form-field appearance="fill">
                <input matInput ngModel name="fromRating" type="number" min="0" max="5">
              </mat-form-field>

              <label>Rating to: </label>
              <mat-form-field appearance="fill">
                <input matInput ngModel name="toRating" type="number" min="0" max="5">
              </mat-form-field>

              <button [disabled]="filterForm.invalid" type="submit" class="btn btn-success">Filter</button>
              <button type="button" (click)="resetForm(filterForm)" class="btn btn-primary">Reset</button>
            </form>
          </div>

        </mat-expansion-panel>
        <div class="col-12">
          <div class="card">
            <div class="card-header card-header-warning">
              <h1 class="card-title">Authors</h1>
            </div>
            <div class="card-body table-responsive">
              <table class="table table-hover" aria-describedby="availableAuthors">
                <thead class="text">
                <!--                <th id="checkBox">-->
                <!--                  <input class="form-check-inline" type="checkbox" value="" id="checkAll">Mark all-->
                <!--                </th>-->
                <th (click)="sortByColumn('firstName')" id="tableName">First Name
                  <em
                    *ngIf="pageSortFilterParameters.sortField === 'firstName' && !pageSortFilterParameters.reverseForSorting"
                    class="fa fa-sort-asc"></em>
                  <em *ngIf="pageSortFilterParameters.sortField != 'firstName'" class="fa fa-sort"></em>
                  <em
                    *ngIf="pageSortFilterParameters.sortField === 'firstName' && pageSortFilterParameters.reverseForSorting"
                    class="fa fa-sort-desc"></em></th>
                <th (click)="sortByColumn('secondName')" id="tableSecondName">Second Name
                  <em
                    *ngIf="pageSortFilterParameters.sortField === 'secondName' && !pageSortFilterParameters.reverseForSorting"
                    class="fa fa-sort-asc"></em>
                  <em *ngIf="pageSortFilterParameters.sortField != 'secondName'" class="fa fa-sort"></em>
                  <em
                    *ngIf="pageSortFilterParameters.sortField === 'secondName' && pageSortFilterParameters.reverseForSorting"
                    class="fa fa-sort-desc"></em></th>
                <th (click)="sortByColumn('rating')" id="tableRating">Rating
                  <em
                    *ngIf="pageSortFilterParameters.sortField === 'rating' && pageSortFilterParameters.reverseForSorting"
                    class="fa fa-sort-asc"></em>
                  <em *ngIf="pageSortFilterParameters.sortField != 'rating'" class="fa fa-sort"></em>
                  <em
                    *ngIf="pageSortFilterParameters.sortField === 'rating' && !pageSortFilterParameters.reverseForSorting"
                    class="fa fa-sort-desc"></em></th>
                </thead>
                <tbody>
                <tr *ngFor="let author of authors">
                  <!--                  <td>-->
                  <!--                    <div class="form-check">-->
                  <!--                      <input class="form-check-inline" type="checkbox" value="" id="flexCheckDefault">-->
                  <!--                    </div>-->
                  <!--                  </td>-->
                  <td>{{author.firstName}}</td>
                  <td>{{author.secondName}}</td>
                  <td>{{author.rating}}</td>
                  <td>
                    <div class="btn-group" role="group">
                      <a (click)="onOpenModal('edit', author)" class="btn btn-success btn-sm rounded-top"
                         data-placement="top" title="Edit"><em class="fa fa-edit"></em></a>
                      <a (click)="onOpenModal('detail',author)" class="btn btn-info btn-sm rounded-top"
                         data-placement="top" title="Detail"><em class="fa fa-info"></em></a>
                      <a (click)="onOpenModal('delete', author)" class="btn btn-danger btn-sm rounded-bottom"
                         data-placement="top" title="Delete"><em class="fa fa-trash"></em></a>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
    </footer>
  </div>
</div>

<div class="modal fade" id="createAuthorModal" tabindex="-1" role="dialog" aria-labelledby="createAuthorModal"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <H2 class="modal-title">Create Author</H2>
        <button class="close" data-dismiss="modal">X</button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="createAuthor(addForm)" class="was-validated">
          <div class="form-group col-12">
            <label for="authorName">First name</label>
            <input type="text" ngModel name="firstName" minlength="1" maxlength="128"
                   class="form-control" id="authorName" placeholder="name" required>
          </div>
          <div class="form-group col-12">
            <label for="authorSecondName">Second name</label>
            <input type="text" ngModel name="secondName" minlength="1" maxlength="128"
                   class="form-control" id="authorSecondName" placeholder="second name" required>
          </div>
          <div class="modal-footer">
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-success">Create</button>
            <button type="button" id="add-author-form" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateAuthorModal" tabindex="-1" role="dialog" aria-labelledby="updateAuthorModal"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <H2 class="modal-title">Edit {{editAuthor?.firstName}}</H2>
        <button class="close" data-dismiss="modal">X</button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm" class="was-validated">
          <div class="form-group col-12">
            <label for="updateAuthorName">First name</label>
            <input type="text" ngModel="{{editAuthor?.firstName}}" name="firstName" minlength="1" maxlength="128"
                   class="form-control"
                   id="updateAuthorName" placeholder="name" required>
          </div>
          <input type="hidden" ngModel="{{editAuthor?.id}}" name="id" class="form-control" id="id" placeholder="Email">
          <div class="form-group col-12">
            <label for="updateAuthorSecondName">Second name</label>
            <input type="text" ngModel="{{editAuthor?.secondName}}" name="secondName" maxlength="128"
                   class="form-control"
                   id="updateAuthorSecondName" placeholder="second name">
          </div>
          <div class="modal-footer">
            <button [disabled]="editForm.invalid" (click)="updateAuthor(editForm.value)" class="btn btn-success"
                    data-dismiss="modal">Save
            </button>
            <button class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteAuthorModal" tabindex="-1" role="dialog" aria-labelledby="deleteAuthorModal"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <H2 class="modal-title">Delete {{deletedAuthor?.firstName}}</H2>
        <button class="close" data-dismiss="modal">X</button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete {{deletedAuthor?.firstName}} {{deletedAuthor?.secondName}} ?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)="deleteAuthor(deletedAuthor.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="detailAuthorModal" tabindex="-1" role="dialog" aria-labelledby="detailAuthorModal"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <H2 class="modal-title">Details {{detailAuthor?.firstName}}</H2>
        <button class="close" data-dismiss="modal">X</button>
      </div>
      <div class="modal-body">
        <div>First name: {{detailAuthor?.firstName}}</div>
        <div>Second name: {{detailAuthor?.secondName}}</div>
        <div>Rating: {{detailAuthor?.rating}}</div>
        <!--        <div>Books: <a *ngFor="let book of detailAuthor?.books">-->
        <!--          {{book.name}}-->
        <!--        </a>-->
        <!--        </div>-->
      </div>
    </div>
  </div>
</div>
